# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- IDE ---
.vscode/
.idea/

# logs
*.log

# --- pytest / coverage ---
.pytest_cache/
.coverage
htmlcov/
.cache/

# --- FastAPI / Uvicorn ---
*.pid